Installing Necessary packages

In [243]:
!pip install mysql-connector-python sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\sidha\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\users\sidha\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in c:\users\sidha\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sidha\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.15.0)

Importing Libraries and Establishing connection with the database

In [244]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import os

Establishing connection with the database

In [245]:
# Database connection parameters
user = os.getenv('FPL_DB_USER')
password = os.getenv('FPL_DB_PASSWORD')
database = os.getenv('FPL_DB_NAME')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')

# Creating connection
#   Format: mysql+mysqlconnector://user:password@host:port/database
connection_string = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'

# Create engine
engine = create_engine(connection_string)

Importing MySQL Data to Python Dataframes

In [246]:
dfs={}

try:
    inspector = inspect(engine)
    # Get all table names from the database
    table_names = inspector.get_table_names()
    print(f"Found {len(table_names)} tables in the database.")
    print("==Tables in the database:==\n",
          table_names,
          "\n\nStarting to import...")

    for table in table_names:
        dfs[table] = pd.read_sql_table(table, engine)
        print(f"Table '{table}' imported with {len(dfs[table])} records.")
    
    print("All tables imported with data successfully.")

except Exception as e:
    print(f"Error occurred during import: {e}")
finally:
    engine.dispose()
    print("Database connection closed.")

Found 7 tables in the database.
==Tables in the database:==
 ['fact_player_gameweeks', 'player_history', 'players', 'positions', 'teams', 'understat_roster_metrics', 'understat_team_metrics']

Starting to import...
Table 'fact_player_gameweeks' imported with 16559 records.
Table 'player_history' imported with 16559 records.
Table 'players' imported with 802 records.
Table 'positions' imported with 4 records.
Table 'teams' imported with 20 records.
Table 'understat_roster_metrics' imported with 96091 records.
Table 'understat_team_metrics' imported with 3420 records.
All tables imported with data successfully.
Database connection closed.

Moving data to individual variables

In [247]:
player_history_df = dfs.get('player_history')
player_history_df.head()

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,modified,...,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out,player_id
0,1,9,14,10,0,2025-08-17T15:30:00Z,0,1,1,0,...,0.00,0.00,0.00,1.52,55,0,1531911,0,0,1
1,1,11,11,6,1,2025-08-23T16:30:00Z,5,0,2,0,...,0.00,0.00,0.00,0.17,55,218659,2284634,277339,58680,1
2,1,25,12,2,0,2025-08-31T15:30:00Z,1,0,3,0,...,0.00,0.02,0.02,0.52,55,-12311,2406964,146739,159050,1
3,1,31,16,6,1,2025-09-13T11:30:00Z,3,0,4,0,...,0.00,0.00,0.00,0.20,55,171289,2765759,289041,117752,1
4,1,41,13,2,1,2025-09-21T15:30:00Z,1,1,5,0,...,0.00,0.01,0.01,0.89,55,-9786,2762632,98100,107886,1

In [248]:
players_df = dfs.get('players')
players_df.head()

,can_transact,can_select,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,defensive_contribution_per_90,scout_risks.0.property,scout_risks.0.notes,scout_risks.0.gameweek,scout_risks.0.url
0,1,1,None,None,154561,0,0,4,-4,1,...,4,6,1,1.0,0.5,0.0,None,None,None,None
1,1,1,None,None,109745,0,0,-4,4,0,...,81,271,37,0.0,0.0,0.0,None,None,None,None
2,1,0,0.0,0.0,463748,0,0,0,0,0,...,71,358,52,0.0,0.0,0.0,None,None,None,None
3,1,1,None,None,551221,0,0,-1,1,0,...,56,341,48,0.0,0.0,0.0,None,None,None,None
4,1,1,100.0,100.0,226597,1,-1,9,-9,4,...,1,5,2,1.0,0.66,8.63,None,None,None,None

In [249]:
positions_df = dfs.get('positions')
positions_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked.0,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,1,12.0,91
1,2,Defenders,DEF,Defender,DEF,5,None,None,3,5,0,None,262
2,3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,0,None,361
3,4,Forwards,FWD,Forward,FWD,3,None,None,1,3,0,None,88

In [250]:
teams_df = dfs.get('teams')
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,1,ARS,...,None,0,0,1300,1375,1340,1400,1260,1350,1
1,7,0,None,2,0,Aston Villa,0,0,3,AVL,...,None,0,0,1145,1185,1150,1170,1140,1200,2
2,90,0,None,3,0,Burnley,0,0,19,BUR,...,None,0,0,1055,1095,1010,1090,1100,1100,43
3,91,0,None,4,0,Bournemouth,0,0,15,BOU,...,None,0,0,1150,1220,1100,1240,1200,1200,127
4,94,0,None,5,0,Brentford,0,0,7,BRE,...,None,0,0,1135,1175,1100,1110,1170,1240,130

In [251]:
print("========\nplayer_history_df\n",player_history_df.info(),"\n\n")
print("========\nplayers_df\n",players_df.info(),"\n\n")
print("========\npositions_df\n",positions_df.info(),"\n\n")
print("========\nteams_df\n",teams_df.info(),"\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   element                          16559 non-null  int64
 1   fixture                          16559 non-null  int64
 2   opponent_team                    16559 non-null  int64
 3   total_points                     16559 non-null  int64
 4   was_home                         16559 non-null  int64
 5   kickoff_time                     16559 non-null  object
 6   team_h_score                     16559 non-null  int64
 7   team_a_score                     16559 non-null  int64
 8   round                            16559 non-null  int64
 9   modified                         16559 non-null  int64
 10  minutes                          16559 non-null  int64
 11  goals_scored                     16559 non-null  int64
 12  assists                          16559 non-null  int64
 13  clean_sheets                     16559 non-null  int64
 14  goals_conceded                   16559 non-null  int64
 15  own_goals                        16559 non-null  int64
 16  penalties_saved                  16559 non-null  int64
 17  penalties_missed                 16559 non-null  int64
 18  yellow_cards                     16559 non-null  int64
 19  red_cards                        16559 non-null  int64
 20  saves                            16559 non-null  int64
 21  bonus                            16559 non-null  int64
 22  bps                              16559 non-null  int64
 23  influence                        16559 non-null  object
 24  creativity                       16559 non-null  object
 25  threat                           16559 non-null  object
 26  ict_index                        16559 non-null  object
 27  clearances_blocks_interceptions  16559 non-null  int64
 28  recoveries                       16559 non-null  int64
 29  tackles                          16559 non-null  int64
 30  defensive_contribution           16559 non-null  int64
 31  starts                           16559 non-null  int64
 32  expected_goals                   16559 non-null  object
 33  expected_assists                 16559 non-null  object
 34  expected_goal_involvements       16559 non-null  object
 35  expected_goals_conceded          16559 non-null  object
 36  value                            16559 non-null  int64
 37  transfers_balance                16559 non-null  int64
 38  selected                         16559 non-null  int64
 39  transfers_in                     16559 non-null  int64
 40  transfers_out                    16559 non-null  int64
 41  player_id                        16559 non-null  int64
dtypes: int64(33), object(9)
memory usage: 5.3+ MB
========
player_history_df
 None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Columns: 105 entries, can_transact to scout_risks.0.url
dtypes: int64(57), object(48)
memory usage: 658.0+ KB
========
players_df
 None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      4 non-null      int64
 1   plural_name             4 non-null      object
 2   plural_name_short       4 non-null      object
 3   singular_name           4 non-null      object
 4   singular_name_short     4 non-null      object
 5   squad_select            4 non-null      int64
 6   squad_min_select        0 non-null      object
 7   squad_max_select        0 non-null      object
 8   squad_min_play          4 non-null      int64
 9   squad_max_play          4 non-null      int64
 10  ui_shirt_specific       4 non-null      int64
 11  sub_positions_locked.0  1 non-null      object
 12  element_count           4 non-null      int64
dtypes: int64(6), object(7)
memory usage: 548.0+ bytes
========
positions_df
 None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   code                   20 non-null     int64
 1   draw                   20 non-null     int64
 2   form                   0 non-null      object
 3   id                     20 non-null     int64
 4   loss                   20 non-null     int64
 5   name                   20 non-null     object
 6   played                 20 non-null     int64
 7   points                 20 non-null     int64
 8   position               20 non-null     int64
 9   short_name             20 non-null     object
 10  strength               20 non-null     int64
 11  team_division          0 non-null      object
 12  unavailable            20 non-null     int64
 13  win                    20 non-null     int64
 14  strength_overall_home  20 non-null     int64
 15  strength_overall_away  20 non-null     int64
 16  strength_attack_home   20 non-null     int64
 17  strength_attack_away   20 non-null     int64
 18  strength_defence_home  20 non-null     int64
 19  strength_defence_away  20 non-null     int64
 20  pulse_id               20 non-null     int64
dtypes: int64(17), object(4)
memory usage: 3.4+ KB
========
teams_df
 None

# Cleaning Player History Data
This table contans information about individual match performance of every player.

## Changes made
- Renaming columns

In [252]:
# Checking data types
player_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   element                          16559 non-null  int64
 1   fixture                          16559 non-null  int64
 2   opponent_team                    16559 non-null  int64
 3   total_points                     16559 non-null  int64
 4   was_home                         16559 non-null  int64
 5   kickoff_time                     16559 non-null  object
 6   team_h_score                     16559 non-null  int64
 7   team_a_score                     16559 non-null  int64
 8   round                            16559 non-null  int64
 9   modified                         16559 non-null  int64
 10  minutes                          16559 non-null  int64
 11  goals_scored                     16559 non-null  int64
 12  assists                          16559 non-null  int64
 13  clean_sheets                     16559 non-null  int64
 14  goals_conceded                   16559 non-null  int64
 15  own_goals                        16559 non-null  int64
 16  penalties_saved                  16559 non-null  int64
 17  penalties_missed                 16559 non-null  int64
 18  yellow_cards                     16559 non-null  int64
 19  red_cards                        16559 non-null  int64
 20  saves                            16559 non-null  int64
 21  bonus                            16559 non-null  int64
 22  bps                              16559 non-null  int64
 23  influence                        16559 non-null  object
 24  creativity                       16559 non-null  object
 25  threat                           16559 non-null  object
 26  ict_index                        16559 non-null  object
 27  clearances_blocks_interceptions  16559 non-null  int64
 28  recoveries                       16559 non-null  int64
 29  tackles                          16559 non-null  int64
 30  defensive_contribution           16559 non-null  int64
 31  starts                           16559 non-null  int64
 32  expected_goals                   16559 non-null  object
 33  expected_assists                 16559 non-null  object
 34  expected_goal_involvements       16559 non-null  object
 35  expected_goals_conceded          16559 non-null  object
 36  value                            16559 non-null  int64
 37  transfers_balance                16559 non-null  int64
 38  selected                         16559 non-null  int64
 39  transfers_in                     16559 non-null  int64
 40  transfers_out                    16559 non-null  int64
 41  player_id                        16559 non-null  int64
dtypes: int64(33), object(9)
memory usage: 5.3+ MB

In [253]:
# Checking columns and values.

# Find the columns with only one unique value. 
# These columns can be dropped as they do not provide any useful information.
constant_columns = [col for col in player_history_df.columns if player_history_df[col].nunique() <= 1]
constant_columns

['modified']

In [254]:
# Checking ranges of data
# To confirm if we have full
print(f"Data Range: {player_history_df['kickoff_time'].min()} to {player_history_df['kickoff_time'].max()}")

Data Range: 2025-08-15T19:00:00Z to 2026-01-19T20:00:00Z

Cleaning Script

In [255]:
# Dropping Irrelevant columns
player_history_df = player_history_df.drop(columns=constant_columns)

In [256]:
# Renaming columns for better clarity
player_history_df = player_history_df.rename(columns={
    'team_h_score':'team_home_score',
    'team_a_score':'team_away_score',
    'bps':'bonus_points_system_score',
    'ict_index':'influence_creativity_threat_index'
})

In [257]:
# Type Conversion

# Converting 'kickoff_time' to datetime
player_history_df['kickoff_time'] = pd.to_datetime(player_history_df['kickoff_time'])

# Boolean conversion: Columns with only two values (0 and 1) can be converted to boolean type
# Converting `was_home`
player_history_df['was_home'] = player_history_df['was_home'].astype(bool)
# Converting `started`
player_history_df['starts'] = player_history_df['starts'].astype(bool)

In [258]:
# list all columns in ascending order
sorted(player_history_df.columns)

['assists',
 'bonus',
 'bonus_points_system_score',
 'clean_sheets',
 'clearances_blocks_interceptions',
 'creativity',
 'defensive_contribution',
 'element',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals',
 'expected_goals_conceded',
 'fixture',
 'goals_conceded',
 'goals_scored',
 'influence',
 'influence_creativity_threat_index',
 'kickoff_time',
 'minutes',
 'opponent_team',
 'own_goals',
 'penalties_missed',
 'penalties_saved',
 'player_id',
 'recoveries',
 'red_cards',
 'round',
 'saves',
 'selected',
 'starts',
 'tackles',
 'team_away_score',
 'team_home_score',
 'threat',
 'total_points',
 'transfers_balance',
 'transfers_in',
 'transfers_out',
 'value',
 'was_home',
 'yellow_cards']

In [259]:
# Feature Engineering
# Things to get
# - Scores scored by player's team
# - Scores scored by opponent team
# - See if the team won



def get_player_team_score(row):
    return row['team_home_score'] if row['was_home'] else row['team_away_score']

def get_opponent_team_score(row):
    return row['team_away_score'] if row['was_home'] else row['team_home_score']

# Create result column (W/D/L) based on team and opponent scores
def get_match_result(row):
    player_score = get_player_team_score(row)
    opponent_score = get_opponent_team_score(row)

    if player_score > opponent_score:
        return 'W'  # Win
    elif player_score < opponent_score:
        return 'L'  # Loss
    else:
        return 'D'  # Draw

player_history_df['match_result'] = player_history_df.apply(get_match_result, axis=1)

# player_history_df.info()
# player_history_df.head()

In [260]:
player_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 42 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   element                            16559 non-null  int64
 1   fixture                            16559 non-null  int64
 2   opponent_team                      16559 non-null  int64
 3   total_points                       16559 non-null  int64
 4   was_home                           16559 non-null  bool
 5   kickoff_time                       16559 non-null  datetime64[ns, UTC]
 6   team_home_score                    16559 non-null  int64
 7   team_away_score                    16559 non-null  int64
 8   round                              16559 non-null  int64
 9   minutes                            16559 non-null  int64
 10  goals_scored                       16559 non-null  int64
 11  assists                            16559 non-null  int64
 12  clean_sheets                       16559 non-null  int64
 13  goals_conceded                     16559 non-null  int64
 14  own_goals                          16559 non-null  int64
 15  penalties_saved                    16559 non-null  int64
 16  penalties_missed                   16559 non-null  int64
 17  yellow_cards                       16559 non-null  int64
 18  red_cards                          16559 non-null  int64
 19  saves                              16559 non-null  int64
 20  bonus                              16559 non-null  int64
 21  bonus_points_system_score          16559 non-null  int64
 22  influence                          16559 non-null  object
 23  creativity                         16559 non-null  object
 24  threat                             16559 non-null  object
 25  influence_creativity_threat_index  16559 non-null  object
 26  clearances_blocks_interceptions    16559 non-null  int64
 27  recoveries                         16559 non-null  int64
 28  tackles                            16559 non-null  int64
 29  defensive_contribution             16559 non-null  int64
 30  starts                             16559 non-null  bool
 31  expected_goals                     16559 non-null  object
 32  expected_assists                   16559 non-null  object
 33  expected_goal_involvements         16559 non-null  object
 34  expected_goals_conceded            16559 non-null  object
 35  value                              16559 non-null  int64
 36  transfers_balance                  16559 non-null  int64
 37  selected                           16559 non-null  int64
 38  transfers_in                       16559 non-null  int64
 39  transfers_out                      16559 non-null  int64
 40  player_id                          16559 non-null  int64
 41  match_result                       16559 non-null  object
dtypes: bool(2), datetime64[ns, UTC](1), int64(30), object(9)
memory usage: 5.1+ MB

# Cleaning Player Data

Contains the bio, current statues, prices and performance of each player.
Many columns present.

In [261]:
sorted(players_df.columns)

['assists',
 'birth_date',
 'bonus',
 'bps',
 'can_select',
 'can_transact',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'clean_sheets',
 'clean_sheets_per_90',
 'clearances_blocks_interceptions',
 'code',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'creativity',
 'creativity_rank',
 'creativity_rank_type',
 'defensive_contribution',
 'defensive_contribution_per_90',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'expected_assists',
 'expected_assists_per_90',
 'expected_goal_involvements',
 'expected_goal_involvements_per_90',
 'expected_goals',
 'expected_goals_conceded',
 'expected_goals_conceded_per_90',
 'expected_goals_per_90',
 'first_name',
 'form',
 'form_rank',
 'form_rank_type',
 'goals_conceded',
 'goals_conceded_per_90',
 'goals_scored',
 'has_temporary_code',
 'ict_index',
 'ict_index_rank',
 'ict_index_rank_type',
 'id',
 'in_dreamteam',
 'influence',
 'influence_rank',
 'influence_rank_type',
 'minutes',
 'news',
 'news_added',
 'now_cost',
 'now_cost_rank',
 'now_cost_rank_type',
 'opta_code',
 'own_goals',
 'penalties_missed',
 'penalties_order',
 'penalties_saved',
 'penalties_text',
 'photo',
 'points_per_game',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'recoveries',
 'red_cards',
 'region',
 'removed',
 'saves',
 'saves_per_90',
 'scout_risks.0.gameweek',
 'scout_risks.0.notes',
 'scout_risks.0.property',
 'scout_risks.0.url',
 'second_name',
 'selected_by_percent',
 'selected_rank',
 'selected_rank_type',
 'special',
 'squad_number',
 'starts',
 'starts_per_90',
 'status',
 'tackles',
 'team',
 'team_code',
 'team_join_date',
 'threat',
 'threat_rank',
 'threat_rank_type',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'yellow_cards']

In [262]:
# Renaming columns for better clarity
players_df = players_df.rename(columns={
    'now_cost': 'price',
    'element_type': 'position_id', # This is to be mapped
    'team': 'team_id',
    'web_name': 'player_name'
})

# Data type conversion and normalization
#  `price`
players_df['price'] = players_df['price'] / 10.0  # Convert to actual price in millions
# `selected_by_percent`
players_df['selected_by_percent'] = players_df['selected_by_percent'].astype(float)

# Mapping IDs to Descriptive Names
#  Use mapping tables to replace numeric IDs with actual team and position names
position_map = positions_df.set_index('id')['singular_name'].to_dict()
# print(position_map)
players_df['position'] = players_df['position_id'].map(position_map)

team_map = teams_df.set_index('id')['name'].to_dict()
# print(team_map)
players_df['team_name'] = players_df['team_id'].map(team_map)


# Feature Selection
#  Select only relavent columns from the player_df
columns_to_keep = [
    'player_name', 
    'team_name',
    'position',
    'price', 
    'total_points', 
    'points_per_game',
    'form', 
    'status', 
    'chance_of_playing_next_round', 
    'selected_by_percent',
    'minutes', 
    'goals_scored', 
    'assists', 
    'clean_sheets', 
    'bonus', 
    'bps',
    'ict_index', 'expected_goals', 
    'expected_assists', 
    'expected_goal_involvements', 
    'expected_goals_conceded']

players_df = players_df[columns_to_keep].copy()

# Cleaning Positions Data

In [263]:
# Renaming columns for better clarity
positions_df = positions_df.rename(columns={
    'id':'position_id',
    'singular_name':'position_name',
    'singular_name_short':'position_short_name',
    'sqaud_select':'squad_capacity', # Total allowed in 15-man squad
    'squad_min_play':'min_starting_size',
    'sqaud_max_play':'max_starting_size',
    'ui_shirt_specific':'is_gk_shirt'  # To be converted to boolean
})

# Type conversions
positions_df['is_gk_shirt'] = positions_df['is_gk_shirt'].astype(bool)


sorted(positions_df.columns)
# Reordering
# positions_df = positions_df[[
#     'position_id', 'position_name', 'position_short_name', 
#     'squad_capacity', 'min_starting_size', 'max_starting_size', 
#     'element_count', 'is_gk_shirt'
# ]]

['element_count',
 'is_gk_shirt',
 'min_starting_size',
 'plural_name',
 'plural_name_short',
 'position_id',
 'position_name',
 'position_short_name',
 'squad_max_play',
 'squad_max_select',
 'squad_min_select',
 'squad_select',
 'sub_positions_locked.0']

# Cleaning Teams Data

In [265]:
# Renaming columns
teams_df = teams_df.rename(columns={
    'id':'team_id',
    'name':'team_name',
    'short_name':'team_short_name',
    'strength':'overall_strength_rating'
})

# Selecting features
teams_df = teams_df[[
    'team_id', 
    'team_name', 
    'team_short_name', 
    'overall_strength_rating',
    'strength_overall_home', 
    'strength_overall_away',
    'strength_attack_home', 
    'strength_attack_away',
    'strength_defence_home', 
    'strength_defence_away'
]]